/* Псевдокласс — это селектор, который выбирает элементы, находящиеся в специфическом состоянии,
 например, они являются первым элементом своего типа, или на них наведён указатель мыши. Они обычно действуют так
  как если бы вы применили класс к какой-то части вашего документа, что часто помогает сократить избыточные классы в 
  разметке и даёт более гибкий, удобный в поддержке код. 
  
  Псевдоклассы — это ключевые слова, которые начинаются с двоеточия:

  :pseudo-class-name
  */


/* .first {
    font-size: 150%;
    font-weight: bold;
}    */

article p:first-child {
    font-size: 200%;
    font-weight: bold;
}   

a:link,
a:visited {
    color: rebeccapurple;
    font-weight: bold;
}

a:hover {
    color:hotpink;
}   