/* General setup */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  

  @font-face {
    font-family: 'rubikregular';
    src: url('webfontkit-20230323-112358/rubik-regular-webfont.woff2') format('woff2'),
         url('webfontkit-20230323-112358/rubik-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html{
    font-size: 10px;
}
a ,ul, li,ol p{
    font-family : 'rubikregular';
    font-size: 1.5rem;
}

h1,h2{
    font-family: 'Anton', sans-serif;
    letter-spacing: 5px;
}

h1{
    font-size: 4rem;
    text-align: center;
}

h2{
    font-size: 3rem;
}

p{
    line-height: 1.5em;
    letter-spacing: 1.5px;
    word-spacing: 2.2px;
}

a{
    outline :none;
}

a:link{
    background: chartreuse;
}
a:hover{
    background: black;
    text-decoration: none;
}
a:visited{
    background: purple;
}

a:focus{
    background-color: pink;
    text-decoration: none;
}

a:active{
    border: 2px red solid;
}

a[href*="https"]{
    background: url('icons8-external-link-26.png') no-repeat 100% 0;
    background-size: 16px 16px;
    padding-right: 19px;
}

li{
    line-height: 1.5;
    padding-left: 1rem;
    list-style-type: circle;
}