h1 {
  color:green;
 }
 
 p  {
     color: blue;
 }
 li {
   list-style-type: square;
 }

/* li.special, 
span.special {
  color: orange;
  font-weight: bold;
} */
     
li em {
  color: rebeccapurple;
  font-weight: bold;
}
h1 + p {
  font-size: 200%;
}

p span {
  color:red;
}

a:link {
  color: pink;
  
}

a:visited {
  color: green;
}

a:hover {
  text-decoration: none;
}

body h1 + p .special {
  /* color: yellow; */
  background-size: 200px;
  background-color: black;
  padding: 5px;
}